

<h2>Login Form</h2>
<div class="container">
<form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
  <div class="form-group">
    <label for="UserName">
      UserName:
    </label>
    <input id="UserName" type="text" class="form-control" formControlName="userName" placeholder="username" required>
  </div>

  <div class="form-group">
    <label for="Password">
      Password:
    </label>
    <input id="Password" type="text" class="form-control" formControlName="password" placeholder="password" required>
  </div>

  <a routerLink="/welcome">
    <button class="btn btn-default" type="submit">Login</button>
  </a>

</form>
</div>
